
.bloco {
    display: flex;
    height: 150px;
    margin: 10px;
    background-image: url(Midia/wallpaper003.jpg);
    
    border-radius: 20px;
    border: 1px solid black;

}

#b1 {
    background-position: left top;
}
#b2 {
    background-position: left bottom;
}
#b3 {
    background-position: right center;
}
#b4 {
    background-position: center bottom;
}