@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/idroid');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header {
    background: linear-gradient(0deg, #185232, #3cdb83);

}

.header_container {
    color: white;
    text-align: center;
    justify-content: center;
    padding: 30px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.header_container p{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

.menu_header_bar {
    display: inline-flex;
    margin-left: 20px;
}

.menu_header_bar a nav{

    padding: 10px 15px;
    color: white;
    text-decoration: none;
}


main {
    display: flex;
    background-color: #84e1ad;
    justify-content: center;
}

.container_center {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.433);
    width: 56%;
}

h2 {
    color: #215a3c;
    font-size: 1.7rem;
    font-family: "IDroid";
    margin-bottom: 10px;
}

h3 {
    font-family: "IDroid";
    font-size: 1.5rem;
    color: #256542;
    background: linear-gradient(90deg, #3cdb842e, white );
}

abbr {
    border-bottom: 1px dashed #000; 
    cursor: help; 
}

.main_container_content {
    padding: 30px 0;
}

.title {
    background-color: #2fa866;
    color: white;
    font-weight: 100;
    font-size: 12px;
    border-radius: 15px 15px 5px 5px;
    padding: 10px;
}

.tu_container2 {
    display: flex;

    font-size: 16px;
    font-family: "Public Sans Web";
    font-weight: 400;
}

#navigater:hover {
    background-color: #16a154;
    text-decoration: none;
    border-radius: 10px;
}

.imagesCenter{
    display: flex;
    justify-content: center;
}

.tu_container {
    padding: 0px 20px;
    background-color: #c5ebd6;
}

#option {
    padding: 0px 0px 0px 220px;
    
}


#video_back {
    height: 100%;
    background-color: #215a3c;
    
    
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

#image_robo {
    text-align: center;
}

#center_container_content {
    padding: 1.2rem;
}

#center_container_content p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#center_container_content p a{
    text-decoration: none;
    color: #256542;
    font-weight: bolder;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    text-align: center;
    color: white;
    background-color: #185232;
    font-size: 12px;
}
