@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    text-align: justify;
}

header {
    height: 150px;
    text-align: center;
    background: linear-gradient(90deg, #214de1, #b06ab3);
    margin: 0px;
    padding-top: 2.5rem;
    outline: 0px;

}
header > h1 {
    color: #b6ef79;
    font-family: 'MontSerrat';
    font-weight: lighter;
    font-size: 2.3rem;
    margin: 0px;
    padding: 0px;

}
header > p {
    color: #ffffff;
    padding: 0px;

}

#barradelinks {
    padding-top: 30px;
    padding-right: 325px;

}

#barradelinks > a{
    color: white;
    margin: 2.5px;

}

#barradelinks > a {
    text-decoration: none;
    font-style: normal;
}

#link1:hover {
    text-decoration: underline;
    color: #fffb00;
    text-decoration-color: #b6ef79;   
}

#link2:hover {
    text-decoration: underline;
    color: #fffb00;
    text-decoration-color: #b6ef79;
}

#link3:hover {
    text-decoration: underline;
    color: #fffb00;
    text-decoration-color: #b6ef79;
}

footer {
    margin-top: 0px;
    text-align: center;
    height: 30px;
    background: linear-gradient(90deg, #214ee1a0, #b16ab354);

}

footer > div > p {
    margin: 0px;
}

#conteudo {
    
    display: inline-block;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;

}

h2 {
    background: linear-gradient(40deg, #e2df2d74, white);
    padding: 0px;
    margin: 0px;
}

#conteudo {
    padding: 30px;
    border-radius: 2px;
    background-color: white;

}

main {
    display: inline-block;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, #214de1, #b06ab3);

}

.groupimage > picture > img{

    display: inline-block;
    align-content: center;
    justify-items: center;
    align-items: center;

}


footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #214ee1a0, #b16ab354);
    padding: 10px;
}


.imgicon {
    display: flex;
}

footer > div {

    text-align: center;
    margin: 0px;
    padding-left: 40px;
    text-align: center;

}

.imgicon img {

    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px; 
    border-radius: 6px;

}

.imagem-container {
    text-align: center;
    
}

#video {
    padding: 0px;
    margin: 0;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}