@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: red;
    background: rgb(255,5,180);
    background: linear-gradient(153deg, rgba(255,5,180,1) 0%, rgba(83,0,242,1) 100%)

}

.card {
    border-radius: 16px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 20px 12px rgba(0,0,0,0.3) ;

}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo {
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #ccc;
    transition: all linear 200ms;
    font-size: 0.9em;
    color: #444;
    margin-bottom: 3px;
    outline: none;

}

.campo::placeholder {
    font-size: 1.1rem;
    color: #666;
}

.campo:focus {
    border-color: #ff05b4;

}

.link {
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: right;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

#btn {
    color: white;
    padding: 15px;
    margin-top: 15px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    background-color: #ff05b4;
    cursor: pointer;
    transition: all linear 190ms;
 
}

#btn:hover {
    transform: scale(1.04);
    background-color: #c404a1;

}

p {
    font-size: 1.28em;
}